@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(110, 113, 116, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.r-header.is-open .r-header-background {
  left: 0;
}
.r-header-button-wrapper {
  margin-left: auto;
}
.r-header-icon {
  display: none;
}

.r-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.r-navigation-list.is-open {
  right: 0;
}
.r-header-icon-menu {
  display: block;
}

.r-header-icon-button.is-open .r-header-icon-menu {
  display: none;
}

.r-header-icon-button.is-open .r-header-icon-close {
  display: block;
}

.r-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 52px;
  background: rgba(241, 240, 237, 1);
}

.r-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(241, 240, 237, 1);
}
.r-header.is-open .r-header-background {
  left: 0;
}
.r-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.r-header-icon-menu {
  display: block;
}

.r-header-icon-button.is-open .r-header-icon-menu {
  display: none;
}

.r-header-icon-button.is-open .r-header-icon-close {
  display: block;
}

.r-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.r-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(241, 240, 237, 1);
}

.r-navigation-list.is-open {
  right: 0;
}

.r-navigation-link {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(24, 27, 29, 1);
}

.r-navigation-link:hover,
.r-navigatioт-link:focus {
  color: rgba(247, 129, 25, 1);
}

.r-header.is-open {
  background-color: transparent;
}

.r-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .r-navigation-img {
    display: flex;
  }
  .r-policy-terms-header-icon-menu {
    display: none;
  }

  .r-header {
    width: 100%;
    height: 60px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .r-header-background {
  }
  .r-header-icon-button {
    display: none;
  }
  .r-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .r-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 10px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .r-navigation-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

    padding: 0px 30px;
    text-decoration: none;
  }

  .r-navigation-item-desk {
    display: none;
  }
}
.r-home {
  width: 375px;
  height: 912px;
  padding: 76px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Home.png");
  margin: auto;
}

.r-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.r-home-title {
  width: 343px;
  height: 232.23956298828125px;
}

.r-home-text {
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
  padding: 24px 0;
}

.r-home-google-button-image {
  width: 192px;
  height: 64px;
}

.r-home-google-button-link:hover .r-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .r-home {
    width: 1440px;
    height: 800px;
    padding: 80px 100px 0px;
    background-image: url("/img/home/Home\ \(1\).png");
  }

  .r-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 393px;
  }

  .r-home-title {
    width: 482.953857421875px;
    height: 327px;
  }

  .r-home-text {
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    text-align: center;
  }
}
.r-why {
  width: 375px;
  height: 844px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Game\ Description.png");
}

.r-why-text-bold {
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  line-height: 101.00000000000001%;
  letter-spacing: -1%;
  text-align: center;
  background: linear-gradient(180deg, #fff363 0%, #f78119 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgba(132, 41, 10, 1);
}

.r-why-text {
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  line-height: 110.00000000000001%;
  letter-spacing: -1px;
  text-align: center;
  padding-top: 32px;
}

@media screen and (min-width: 1200px) {
  .r-why {
    width: 1440px;
    height: 492px;
    padding: 100px;
    background-image: url("/img/Game\ Description\ \(1\).png");
  }
  .r-why-text-bold {
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    text-align: center;

    background: linear-gradient(180deg, #fff363 0%, #f78119 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgba(132, 41, 10, 1);
  }

  .r-why-text {
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    line-height: 110.00000000000001%;
    text-align: center;
    padding-top: 60px;
    width: 672px;
    margin: auto;
  }
}

.r-uniqueness {
  width: 375px;
  height: 1631px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Advantages.png");
}

.r-uniqueness-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.r-uniqueness-item {
  background: radial-gradient(
    85.69% 85.69% at 50% 50%,
    #e90164 0%,
    #9a0019 100%
  );
  width: 343px;
  height: 142px;
  border-radius: 6px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
}
.r-uniqueness-item-q {
  background: radial-gradient(
    85.69% 85.69% at 50% 50%,
    #acc000 0%,
    #74931c 100%
  );
}
.r-uniqueness-item-w {
  background: radial-gradient(
    85.69% 85.69% at 50% 50%,
    #ff7708 0%,
    #c23001 100%
  );
}
.r-uniqueness-item-e {
  background: radial-gradient(
    85.69% 85.69% at 50% 50%,
    #00abb3 0%,
    #028389 100%
  );
}
.r-uniqueness-item-r {
  background: radial-gradient(
    85.69% 85.69% at 50% 50%,
    #f6b110 0%,
    #cf8000 100%
  );
}
@media screen and (min-width: 1200px) {
  .r-uniqueness {
    width: 1440px;
    height: 1042px;
    padding: 100px;
    background-image: url("/img/Advantages\ \(1\).png");
  }
  .r-uniqueness-list {
    padding-top: 0px;
    margin-top: 60px;
    position: relative;
  }

  .r-uniqueness-item {
    width: 280px;
    height: 142px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
    border-radius: 6px;
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    text-align: center;
    position: absolute;
    top: 183px;
    left: 960px;
  }
  .r-uniqueness-item-q {
    background: radial-gradient(
      85.69% 85.69% at 50% 50%,
      #acc000 0%,
      #74931c 100%
    );
    top: 0px;
    left: 310px;
  }
  .r-uniqueness-item-p {
    top: 0px;
    left: 670px;
  }
  .r-uniqueness-item-o {
    top: 399px;
    left: 0px;
  }
  .r-uniqueness-item-w {
    background: radial-gradient(
      85.69% 85.69% at 50% 50%,
      #ff7708 0%,
      #c23001 100%
    );
    top: 183px;
    left: 0px;
  }
  .r-uniqueness-item-e {
    background: radial-gradient(
      85.69% 85.69% at 50% 50%,
      #00abb3 0%,
      #028389 100%
    );
    top: 596px;
    left: 310px;
  }
  .r-uniqueness-item-r {
    background: radial-gradient(
      85.69% 85.69% at 50% 50%,
      #f6b110 0%,
      #cf8000 100%
    );
    top: 596px;
    left: 670px;
  }
  .r-uniqueness-item-i {
    top: 399px;
    left: 960px;
  }
}

.r-about-title {
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;

  background: linear-gradient(180deg, #fff363 0%, #f78119 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -webkit-text-stroke: 1px rgba(145, 69, 4, 1);
}

.r-how {
  width: 375px;
  height: 1448px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/how/How\ to\ play\ \(1\).png");
}

.r-how-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.r-how-item {
  width: 343px;
  border-radius: 6px;
  border-width: 1px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 178, 115, 1);
  color: rgba(247, 109, 7, 1);
}
.r-how-item-q {
  border: 1px solid rgba(255, 144, 160, 1);
  color: rgba(214, 1, 83, 1);
}
.r-how-item-w {
  border: 1px solid rgba(255, 221, 157, 1);
  color: rgba(243, 174, 15, 1);
}
.r-how-item-e {
  border: 1px solid rgba(11, 170, 186, 1);
  color: rgba(1, 169, 177, 1);
}
.r-how-item-r {
  border: 1px solid rgba(255, 178, 115, 1);
  color: rgba(247, 109, 7, 1);
}
.r-how-item-t {
  border: 1px solid rgba(171, 225, 20, 1);
  color: rgba(167, 188, 3, 1);
}
.r-how-text-bold {
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
}
.r-how-item-two {
  display: flex;
  align-items: start;
  gap: 16px;
  padding-top: 24px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  color: rgba(110, 113, 116, 1);
}

@media screen and (min-width: 1200px) {
  .r-how {
    width: 1440px;
    height: 736px;
    padding: 100px;
    background-image: url("/img/how/How\ to\ play.png");
  }
  .r-how-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .r-how-item {
    width: 397.3333435058594px;
    height: 204px;
    border-radius: 6px;

    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
  }
}

.r-reviews {
  width: 375px;
  height: 1508px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/reviews/Reviews.png");
}

.r-reviews-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.r-reviews-item {
  width: 343px;
  height: 191px;
  border-radius: 6px;
  padding: 24px;
  background: rgba(255, 255, 255, 1);
}
.r-reviews-img {
  margin: auto;
}
.r-reviews-text-bold {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(24, 27, 29, 1);
  padding: 16px 0 40px;
}

.r-reviews-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .r-reviews {
    width: 1440px;
    height: 708px;
    padding: 100px;
    background-image: url("/img/reviews/Reviews\ \(1\).png");
  }
  .r-reviews-list {
    padding: 60px 0 0 421px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .r-reviews-item {
    width: 257px;
    height: 190px;
    border-radius: 6px;
    padding: 24px;
  }

  .r-reviews-text-bold {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    height: 60px;
    padding: 0px;
    margin: 16px 0 19px;
  }

  .r-reviews-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
  }
}

.r-faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  background-repeat: no-repeat;

  background-image: url("/img/faq/FAQ.png");
}

.r-faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.r-faq-item {
  border-radius: 6px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  background: rgba(241, 240, 237, 1);
}

.r-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  color: rgba(24, 27, 29, 1);
}

.r-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.r-faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .r-faq {
    padding: 100px;
    width: 1440px;
    background-image: url("/img/faq/FAQ\ \(1\).png");
  }
  .r-faq-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .r-faq-item {
    padding-top: 32px;
    padding-right: 40px;
    padding-bottom: 32px;
    padding-left: 40px;
  }
}
.r-gallery {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.r-gallery-list {
  width: auto;
  padding-top: 32px;
  margin: auto;
}

.r-gallery-item {
  width: 322px;
  height: 515px;
  border-radius: 6px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.r-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .r-gallery {
    width: 1440px;
    padding: 100px;
  }

  .r-gallery-item {
    width: 400px;
    height: 640px;
    border-radius: 6px;
  }

  .r-gallery-list {
    padding: 60px 0 0px;
  }
}

.r-features {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.r-features-list {
  padding-top: 32px;
}

.r-features-item {
  margin: 0 6px;
  width: 322px;
  height: 192px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
  background: radial-gradient(
    85.69% 85.69% at 50% 50%,
    #ff7708 0%,
    #c23001 100%
  );
  border: 1px solid rgba(255, 178, 115, 1);
}
.r-features-item-w {
  border: 1px solid rgba(255, 144, 160, 1);
  background: radial-gradient(
    85.69% 85.69% at 50% 50%,
    #e90164 0%,
    #9a0019 100%
  );
}
.r-features-item-e {
  background: radial-gradient(
    85.69% 85.69% at 50% 50%,
    #acc000 0%,
    #74931c 100%
  );
  border: 1px solid rgba(171, 225, 20, 1);
}
.r-features-item-r {
  border: 1px solid rgba(255, 221, 157, 1);
  background: radial-gradient(
    85.69% 85.69% at 50% 50%,
    #f6b110 0%,
    #cf8000 100%
  );
}
.r-features-item-t {
  border: 1px solid rgba(11, 170, 186, 1);
  background: radial-gradient(
    85.69% 85.69% at 50% 50%,
    #00abb3 0%,
    #028389 100%
  );
}

.r-features-text-bold {
  width: 322px;
  height: 50px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border-radius: 6px 6px 0 0;
}

.r-features-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
  width: 320px;
  background: rgba(255, 255, 255, 1);
  height: 140px;
  padding-top: 32px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 0 0 6px 6px;
}

@media screen and (min-width: 1200px) {
  .r-features {
    width: 1440px;
    padding: 100px;
  }
  .r-features-list {
    padding-top: 60px;
  }

  .r-features-item {
    margin: 0 12px;
    width: 353px;
    height: 166px;
    border-radius: 6px;
  }

  .r-features-text-bold {
    width: 353px;
    height: 50px;
    padding-top: 12px;
    padding-bottom: 12px;

    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    line-height: 110.00000000000001%;

    text-align: center;
  }

  .r-features-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;

    width: 351px;
    height: 114px;

    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
  }
}

.r-policy-terms-container {
  padding: 100px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
  color: rgba(24, 27, 29, 1);
}

.r-policy-terms-title {
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  text-align: center;
}

.r-policy-terms-text {
  padding-top: 20px;
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
}

.r-policy-terms-texts {
  padding-top: 8px;
}

.r-policy-terms-text-one {
  padding-top: 20px;
}

.r-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.r-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.r-email-link {
  color: inherit;
  text-decoration: none;
}

.r-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .r-policy-terms-container {
    padding: 124px 100px 40px;
    width: 1440px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
  }

  .r-policy-terms-title {
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    font-size: 64px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    text-align: center;
  }

  .r-policy-terms-text {
    padding-top: 40px;
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
  }

  .r-policy-terms-text-one {
    padding-top: 30px;
  }

  .r-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.r-footer {
  width: 375px;
  margin: auto;
  color: rgba(24, 27, 29, 1);
  width: 375px;
  height: 228px;
  padding-top: 40px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  background-image: url("/img/Footer.png");
}

.r-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.r-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.r-footer-text {
  text-decoration: none;
  color: rgba(24, 27, 29, 1);
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
}

.r-footer-copyright {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  .r-footer {
    background-image: url("/img/Footer\ \(1\).png");
    width: 1440px;
    height: 252px;
    padding-top: 80px;
    padding-right: 100px;
    padding-bottom: 60px;
    padding-left: 100px;
  }

  .r-footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;
    gap: 160px;
  }

  .r-footer-wrapper {
    display: flex;
    flex-direction: column;
  }

  .r-footer-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .r-footer-copyright {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}

.r-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 24px 16px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);

  z-index: 1000;
  display: none;
}

.r-cookie-popup-text-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;

  color: rgba(24, 27, 29, 1);
}

.r-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.r-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(24, 27, 29, 1);
  background: rgba(255, 255, 255, 1);
  width: 167.5px;

  border-radius: 4px;

  padding: 16px 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(24, 27, 29, 1);
}

#accept-cookies {
  background: rgba(24, 27, 29, 1);
  color: rgba(255, 255, 255, 1);
}

.r-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .r-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .r-cookie-popup-text-two {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;

    width: 848px;
  }

  .r-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .r-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
